<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="/views/Page4/Page_4.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/Weather 512.svg" type="image/x-icon">
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="/images/Weather 512.svg">
            <p>Weather App</p>
        </div>
        <div class="search">
            <button><img src="/images/search.svg"></button>
            <input type="text">
        </div>
    </div>

    <div class="weather">
        <div class="photo">
            <img src="/images/weatherPhoto.svg">
            <div class="info">
                <p class="day">Tuesdey</p>
                <p class="date">20 june 2022</p>
                <div class="place">
                    <img src="/images/Location.svg">
                    <p>Biarritz, FR</p>
                </div>
            </div>
            <div class="temperature">
                <img src="/images/Sun.svg">
                <p class="degrees">29&#176; C</p>
                <p class="Sun">Sunny</p>
            </div>
        </div>

        <div class="background">
            <div class="information">
                <div>
                    <p><span>PRECIPITATION</span></p>
                    <p>0%</p>
                </div>
                <div>
                    <p><span>HUMIDITY</span></p>
                    <p>42%</p>
                </div>
                <div>
                    <p><span>WIND</span></p>
                    <p>3 km/h</p>
                </div>
            </div>
            <div class="nextDays">
                <div class="today">
                    <img src="/images/sunIcon.svg">
                    <p>Tue</p>
                    <p class="celsius">29&#176; C</p>
                </div>
                <div class="tomorrow">
                    <img src="/images/cloudIcon.svg">
                    <p>Wed</p>
                    <p class="celsius">22&#176; C</p>
                </div>
                <div class="dayAfterTomorrow">
                    <img src="/images/rainIcon.svg">
                    <p>Thu</p>
                    <p class="celsius">16&#176; C</p>
                </div>
            </div>
            <button class="changeLocation">
                <div>
                    <img src="/images/Location.svg">
                    <p>Change Location</p>
                </div>
            </button>
        </div>
    </div>



</body>
</html>