<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/views/Page1/Page_1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/Weather 512.svg" type="image/x-icon">
</head>
<body>
    <div class="header">
        <img src="/images/Weather 512.svg">
        <p>Weather App</p>
    </div>
    <div>
        <div class="continents">
            <div class="continent">
                <div class="NorthAmerica">
                    <img src="/images/continents/NorthAmerica.svg">
                </div>
                <p>North America</p>
            </div>
            <div class="continent">
                <div class="Africa">
                    <img src="/images/continents/Africa.svg">
                </div>
                <p>Africa</p>
            </div>
            <div class="continent">
                <div class="Asia">
                    <img src="/images/continents/Asia.svg">
                </div>
                <p>Asia</p>
            </div>
            <div class="continent">
                <div class="SouthAmerica">
                    <img src="/images/continents/SouthAmerica.svg">
                </div>
                <p>South America</p>
            </div>
            <div class="continent">
                <div class="Oceania">
                    <img src="/images/continents/Oceania.svg">
                </div>
                <p>Oceania</p>
            </div>
            <div class="continent">
                <div class="Europe">
                    <img src="/images/continents/Europe.svg">
                </div>
                <p>Europe</p>
            </div>
        </div>
</body>
</html>